{% extends 'base.html' %}

{% block content %}
<h2>Добавление пользователя</h2>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" id='selector' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div id="filtered_users" class="d-flex">

</div>


<script type="text/javascript">
    let users = {{ users | tojson | safe }};
    let inputField = document.getElementById('selector');
    inputField.onkeyup = function () {
        let list = document.getElementById('filtered_users');
        list.innerHTML = '';
        let search = inputField.value;
        users.forEach((item, i, users) =>{
            if (search !== '' && item.login.startsWith(search)){
                let elem = document.createElement("a");
                elem.href = '/session/{{ session.id }}/add_user/' + item.id;
                console.log(elem.innerHTML);
                elem.innerHTML = '<i class="material-icons" style="color: darkgray; cursor: pointer; font-size:32px; line-height:1.2">\n' +
                    '                                        add_circle_outline\n' +
                    '                                    </i>';
                list.innerHTML = '<h3>' + item.fullname + '</h3>  ' + elem.outerHTML;
            }
        });
    }
</script>
{% endblock %}