{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Долги</h2>
        <ul class="nav nav-tabs" id="credit-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-item nav-link active" id="masters-tab" role="tab" aria-controls="masters" data-toggle="tab" href="#masters">Заёмщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" id="slaves-tab" role="tab" aria-controls="slaves" data-toggle="tab" href="#slaves">Кредиторы</a>
            </li>
        </ul>

        <div class="tab-content" id="credit-tab">
            <div id="masters" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="masters-tab">
                <div class="form-group">
                    <div id="masters-list" class="list-group">
                        {% if masters.master %}
                            {% for m_credit in masters %}
                                {% if m_credit.value != 0 %}
                                    <li class="list-group-item">
                                        <div class="row d-flex align-items-center" onclick="document.location='{{ url_for('edit_credit', uid=m_credit.id) }}';">
                                            <div class="col-9 text-truncate">{{ m_credit.slave.fullname }}</div>
                                            <div class="col-3">{{ m_credit.value }}</div>
                                         </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <h4>Вам никто не должен.</h4>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="slaves" class="tab-pane fade" role="tabpanel"  aria-labelledby="slaves-tab">
                <div class="form-group">
                    <div id="slaves-list" class="list-group d-flex">
                        {% if slaves %}
                            {% for s_credit in slaves %}
                                {% if s_credit.value != 0 %}
                                    <li class="list-group-item">
                                        <div class="row d-flex align-items-center" onclick="document.location='{{ url_for('edit_credit', uid=s_credit.id) }}';">
                                            <div class="col-9 text-truncate">{{ s_credit.master.fullname }}</div>
                                            <div class="col-3">{{ s_credit.value }}</div>
                                         </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <h4>Вы ничего не должны.</h4>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}