{% extends 'base.html' %}

{% block content %}
<table class="table table-hover">
    <tbody id="myTable">
    {% if masters %}
        <h2>Кто должен мне</h2>
        {% for master in masters %}
            <tr>
                <td>
                    {{ master.slave.fullname }}
                </td>
                <td>
                    {{ master.slave.nickname }}
                </td>
                <td>
                    {{ master.value }}
                </td>
                <td>
                    <form action="{{ url_for('edit_credit') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="col-md-8">
                            <button type="submit" class="btn" name="id" value="{{ master.id }}" >Изменить</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h2>Вам никто ничего не должен.</h2>
    {% endif %}
    </tbody>
</table>

<table class="table table-hover">
    <tbody id="myTable">
    {% if slaves %}
        <h2>Кому должен я</h2>
        {% for slave in slaves %}
            <tr>
                <td>
                    {{ slave.master.fullname }}
                </td>
                <td>
                    {{ slave.master.nickname }}
                </td>
                <td>
                    {{ slave.value }}
                </td>
                <td>
                    <form action="{{ url_for('edit_credit') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="col-md-8">
                            <button type="submit" class="btn" name="id" value="{{ slave.id }}">Изменить</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h2>Вы никому ничего не должны.</h2>
    {% endif %}
    </tbody>
</table>
{% endblock %}