{% extends "base.html" %}

{% block content %}
{% from "formhelpers.html" import render_field %}

    <form action="{{ url_for('calculate') }}" method="POST">
        <div class="d-flex justify-content-around">
            Текущая задолженность: {{ user.value }}
        </div>
        <br>
        <div class="d-flex justify-content-center">
            {{ render_field(form.value) }}
            {% if 'value' in form.errors %}
                <small class="text-danger">{{ form.errors['value'][0] }}</small>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn" name="id" value="{{ user.id }}" >
                <i class="material-icons" style="color: #000000; cursor: pointer; font-size: 60px;">check_circle</i>
            </button>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
{% endblock %}