{% extends "base.html" %}

{% block content %}
{% from "formhelpers.html" import render_field %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <div class="alert-message block-message error">
            <a class="close" href="{{ url_for('edit_credit', uid=user.id) }}">×</a>
            <ul>
                {%- for msg in errors %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST">
        <table class="table table-borderless">
            <tbody class="sortable">
                <tr>
                    <td>
                        <h4>Текущая задолженность: {{ user.value }}</h4>
                    </td>
                <tr>
                    <td>
                        <h4>Введите сумму, на которую изменился долг:</h4>
                        {{ render_field(form.value) }}
                        {% if 'value' in form.errors %}
                            <small class="text-danger">{{ form.errors['value'][0] }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-center">
                        <button type="submit" class="btn" name="id" value="{{ user.id }}" >
                            <i class="material-icons" style="color: gray; cursor: pointer; font-size: 60px;">check_circle</i>
                        </button>
                    </td>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}