{% extends 'base.html' %}
{% block content %}
    <div class="container">
		<div class="row">
            <div class="col-md-8">
                <a href="{{ url_for('session_new') }}" class="btn btn-dark center-block" role="button">Создать Сессию</a>
                <a href="{{ url_for('index') }}" class="btn btn-dark center-block" role="button">Текущая сессия</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <a href="{{ url_for('check_credit') }}" class="btn btn-dark center-block" role="button">Задолженности</a>
                <a href="{{ url_for('index') }}" class="btn btn-dark center-block" role="button">История</a>
            </div>
        </div>
	</div>
{% endblock %}