{% extends 'base.html' %}
{% block content %}
    <div class="container">
		<div class="row">
            <div class="col-md-8">
                <a href="{{ url_for('session_new') }}" class="btn btn-secondary btn-lg btn-block" role="button">Создать Сессию</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <a href="{{ url_for('check_credit') }}" class="btn btn-secondary btn-lg btn-block" role="button">Задолженности</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="btn-group btn-block" role="group">
                    <button id="history" type="button" class="btn btn-secondary btn-lg dropdown-toggle "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Моя история
                    </button>
                    <div class="dropdown-menu dropdown-menu" aria-labelledby="history">
                        <a class="dropdown-item" href="{{ url_for('credit_history') }}">История переводов</a>
                        <a class="dropdown-item" href="{{ url_for('history') }}">История сессий</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}