{% extends 'base.html' %}

{% block contents %}
{% from "formhelpers.html" import render_field %}

{% if error %}
    <p class="text-danger">{{ error }}</p>
    <br>
{% endif %}

<form method="POST">


<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        Пользователь
    </label>
    <div class="col-sm-3">
        <select class="selectpicker" name="users">
            {% for user in users %}
                <option>{{ OrderedItem.user }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        Название блюда
    </label>
    <div class="col-sm-3">
        <select class="selectpicker" name="title">
            {% for user in users %}
                <option>{{ OrderedItem.title }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        Цена
    </label>
    <div class="col-sm-8">
        {{ render_field(form.price) }}
    </div>
</div>


<div class="col-sm-2">
    <button type="submit" class="btn">Изменить</button>
</div>
</form>



{% endblock %}
