{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Редактирование сессии:</h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-item nav-link active" id="users-tab" role="tab" aria-controls="users" data-toggle="tab" href="#users">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="orders-tab" role="tab" aria-controls="orders" data-toggle="tab" href="#orders">Блюдо</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div id="users" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="users-tab">
                    <div class="form-group">
                        <div id="user_list" class="list-group d-flex">
                          {% for user in users %}
                          <li class="list-group-item">
                              <h3>{{ user.fullname }}
                              <span class="float-right">
                                  <a href="{{ url_for('delete_user', sid=session.id, uid=user.id) }}">
                                      <i class="material-icons" style="color: darkgray; cursor: pointer;font-size: 32px;line-height: 1.4;">
                                        delete_forever
                                      </i>
                                  </a>
                              </span>
                                  </h3>
                          </li>
                          {% endfor %}
                          <a href="{{ url_for("add_user",sid=session.id) }}" type="button" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-center">
                              Добавить пользователя
                          </a>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div id="orders" class="tab-pane fade" role="tabpanel"  aria-labelledby="order-tab">
                    <div class="form-group">
                        <div id="orders_list" class="list-group d-flex">
                          {% for order in orders %}
							<li class="list-group-item">
							    {{ order[0].title }}
								<span class="float-right">
								<a href="{{ url_for("order_delete",sid=session.id, oid=order[0].id) }}">
									<i class="material-icons" style="color: darkgray; cursor: pointer;font-size: 32px;line-height: 1.4;">
									   delete_forever
									</i>
								</a>
								</span>
                                <p></p>
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-primary btn-dark">
                                       Редактировать
                                    </a>
                                    <button type="button" class="btn btn-primary btn-dark dropdown-toggle" data-toggle="dropdown">
                                       Пользователи
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for user in order[1]%}
                                        <span class="dropdown-item-text">{{ user.nickname }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                          {% endfor %}
                          <a href="{{ url_for("order_new", sid=session.id) }}" type="button" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-center">
                              Добавить блюдо
                          </a>
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}