{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Редактирование сессии:</h3>
            <h3 class="text-truncate">{{ session.title }}</h3>
            <p></p>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary btn-dark btn-block
                dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-haspopup="true"
                        aria-expanded="false">
                    Изменить название сессии
                </button>
                <form method="POST" class="dropdown-menu p-4 col-lg-12" aria-labelledby="dropdownMenuButton">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail2">Название сессии:</label>
                        <input type="text" class="form-control" id="session_title" name="session_title"
                               value="{{ session.title }}" onchange="session_name_button()">
                        <p></p>
                        <button type="submit" name="change_session_title" id="change_session_title" disabled
                                class="btn btn-dark btn-block">Изменить</button>
                    </div>
                </form>
            </div>
            <p></p>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" name="end_session" class="btn btn-dark btn-block d-flex justify-content-center">Завершить сессию</button>
            </form>
            <p></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-item nav-link active" id="users-tab" role="tab" aria-controls="users" data-toggle="tab" href="#users">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="orders-tab" role="tab" aria-controls="orders" data-toggle="tab" href="#orders">Блюдо</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="users" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="users-tab">
                    <div class="form-group">
                        <div id="user_list" class="list-group">
                          {% for uis in users %}
                          <li class="list-group-item">
                              <div class="row d-flex align-items-center">
                                  <div class="col-7 text-truncate">{{ uis.user.fullname }}</div>
                                  <div class="col-3 pr-1">
                                      <input id="money{{ uis.user.id }}" type="number" class="form-control" onchange="enableButton({{ uis.user.id }})" value="{{ uis.value }}" name="money[]">
                                  </div>
                                  <div class="col-1 pl-1">
                                      <button id="save_button{{ uis.user.id }}" class="btn btn-dark btn-block d-flex justify-content-center" disabled onclick="sent_money({{ uis.user.id }})">
                                          <i class="material-icons" style="color: darkgray; cursor: pointer;font-size: 18px;line-height: 1.4;">
                                               save
                                          </i>
                                      </button>
                                  </div>
                                  <div class="col-1 pl-1">
                                          <a href="{{ url_for('delete_user', sid=session.id, uid=uis.user.id) }}" class="btn btn-dark btn-block d-flex justify-content-center">
                                              <i class="material-icons" style="color: darkgray; cursor: pointer;font-size: 18px;line-height: 1.4;">
                                               delete_forever
                                              </i>
                                          </a>
                                  </div>
                              </div>
                          </li>
                          {% endfor %}
                          <a href="{{ url_for('add_user',sid=session.id) }}" type="button" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-center">
                              Добавить пользователя
                          </a>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div id="orders" class="tab-pane fade" role="tabpanel"  aria-labelledby="order-tab">
                    <div class="form-group">
                        <div id="orders_list" class="list-group d-flex">
                          {% for order in orders %}
							<li class="list-group-item">
							    <a href="{{ url_for('order_edit', sid=session.id, oid=order[0].id) }}" class="btn btn-primary btn-dark">
                                    {{ order[0].title }}
                                </a>
								<span class="float-right">
								<a href="{{ url_for('order_delete',sid=session.id, oid=order[0].id) }}">
									<i class="material-icons" style="color: darkgray; cursor: pointer;font-size: 32px;line-height: 1.4;">
									   delete_forever
									</i>
								</a>
								</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-dark dropdown-toggle" data-toggle="dropdown">
                                       Пользователи
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for user in order[1]%}
                                        <span class="dropdown-item-text">{{ user.fullname }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a>Цена: {{ order[0].price }}</a>
                            </li>
                          {% endfor %}
                          <a href="{{ url_for('order_new', sid=session.id) }}" type="button" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-center">
                              Добавить блюдо
                          </a>
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script>
       function enableButton(uid) {
           let button = document.getElementById("save_button" + uid);
           if (button.hasAttribute("disabled")){
               button.removeAttribute("disabled")
           }
       }
       function sent_money(uid){
           let sum = document.getElementById("money" + uid).value;
           let config = { headers: {
                  'Content-Type': 'application/json',
                  'Access-Control-Allow-Origin': '*'}
           };
           axios.defaults.headers.common['X-CSRF-TOKEN'] = "{{ csrf_token() }}";
           axios.post('/session/{{ session.id }}/add_money',{
               uid: uid,
               amount: sum,
           }, config)
           document.getElementById("save_button" + uid).setAttribute("disabled", "disabled");
       }
       function session_name_button() {
           let button = document.getElementById("change_session_title");
           if (button.hasAttribute("disabled")) {
               button.removeAttribute("disabled")
           }
       }
    </script>

{% endblock %}